@import "ink.less";
@import "syntax.less";
@import "font.less";

@red: #ff7b7a;
@green: #8effab;

body {
  font-family: roboto;
  font-size: 18px;
}

.condensed () {
  font-family: "roboto-condensed";
}

section {

  padding: 6em;

  &._01 {
    background: @red;
    h1 { color: @red; }
  }
  
  &._02 {
    background: @green;
    h1 { color: @green; }
  }

  h1 {
      .condensed;
      font-size: 8em;
      background: white;
      display: inline-block;
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      text-align: center;
    }

    p {
      color: white;
    }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 4em;
}