
@import 'variables';

@import 'mixins';

@import 'structure';

@import 'top-bar';

@import 'right-panel';

@import 'media-queries';

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    height: 100%;
}

.mobile-menu {
    display: none;
}

.fake-map {
    display: inline-block;
    width: 100%;
    height: calc(100vh - 60px);
    background: rgb(190, 190, 190);
}

a {
    color: $text-color;
}
